.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	background-color: #f0f2f5;
	// margin-top: 56px;
}
.container {
	width: calc(100vw);
	height: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: center;

	.side_bar {
		height: inherit;
		min-width: 340px;
		// background-color: white;
		display: flex;
		flex-direction: column;
		// box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.328);
		top: 56px;
		left: 0;
		position: fixed;

		.block {
			flex: 1;
			width: 100%;
			overflow: hidden;
			// scroll-padding: 8px;

			&:hover {
				overflow-y: scroll;
			}

			// background-color: red;
			.block_tab {
				width: 340px !important;
				height: 1000px;

				position: relative;
				padding-top: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.right_bar {
		min-width: 340px;
		height: 100%;
		// background-color: white;

		display: flex;
		flex-direction: column;
		direction: rtl;
		top: 56px;
		right: 0;

		position: fixed;

		.block {
			flex: 1;
			width: 100%;
			overflow: hidden;
			// scroll-padding: 8px;
			padding-right: auto;
			&:hover {
				overflow-y: scroll;
			}

			// background-color: red;
			.block_tab {
				direction: ltr;
				// background-color: red;
				height: 1000px;
				width: 340px !important;
				position: relative;
				padding-top: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
.content {
	margin-top: 56px;
	width: calc(100% - 690px);
	height: 100%;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
}

.dark {
	.container {
		background-color: var(--background-color-grey) !important;
	}
	.content {
		background-color: var(--background-color-grey) !important;
	}
	.right_bar,
	.side_bar {
		background-color: var(--background-color-grey) !important;

		// background-color: transparent;
	}
}
//Reponsive styles
@media (min-width: 740px) and (max-width: 1210px) {
	.side_bar {
		display: none !important;
	}
	.container {
		justify-content: center;
		width: calc(100vw - 320px);
	}
	// .content{
	// 	margin-left: 50px;
	// }
}
@media (max-width: 900px) {
	.container {
		justify-content: center;
		width: calc(100vw);
	}
	.side_bar,
	.right_bar {
		display: none !important;
	}
}
