.wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}
.infor {
	height: auto;
	display: flex;
	// margin-bottom: 12px;
	.avatar {
		margin-right: 10px;
	}
	.body {
		position: relative;

		background-color: #f6f3f3;
		width: auto;
		// min-height: 30px;
		max-width: 280px;
		// height: 50px;
		border-radius: 12px;
		padding: 6px 8px 6px 12px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		.name {
			font-weight: 600;
			font-size: 16px;
		}
		.content {
			text-align: start;
			line-height: 18px;
			font-size: 14px;
		}
	}
	.likeCom {
		position: absolute;
		right: -12px;
		top: 8px;
		height: 16px;
		width: 30px;
		border-radius: 66px;
		background-color: rgb(255, 255, 255);
		box-shadow: 0.5px 0.5px 1px 0px rgb(118, 118, 118);
		font-size: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		svg {
			fill: var(--primary-color);
		}
		span {
			line-height: 16px;
			margin: 1.5px 0 0 2px;
		}
	}
}
.action {
	height: 36px;
	// background-color: red;
	width: 100%;
	display: flex;
	padding: 4px 0 0 62px;
	div {
		font-size: 12px;
	}
	.like {
		margin-right: 12px;
		cursor: pointer;
		position: relative;
		&:hover {
			&::before {
				content: "";
				width: 100%;
				height: 1.2px;
				background-color: black;
				position: absolute;
				top: 15px;
			}
		}
	}
	.likedCom {
		font-weight: 600;

		color: var(--primary-color);
		&:hover {
			&.like {
				&:hover {
					&::before {
				height: 1.2px;

						background-color: var(--primary-color);
					}
				}
			}
		}
	}
	.answer {
		margin-right: 12px;
	}
	.day {
		font-weight: 400;
		color: #6b6b6c;
        user-select: none;
	}
}
.frac{
	position: absolute;
	right: 8px;
	bottom: 0;
	font-size: 12px;
	color: #6b6b6c;
}