.container_block{
	
	position: fixed;
	// position: -webkit-sticky;
	top: 0;
	z-index: 1000;
	width: 100%;
	height: 56px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 1px #e0e0e0;

	display: flex;
}
.navbar {
	flex: 1;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
}
.nav_item {
	width: 80px;
	height: 48px;
	border-radius: 6px;
	margin: 0 8px 0 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 14px;
	&:hover {
		background-color: rgba(228, 228, 228, 0.297);

	}
	a {
		width: 100%;
		
		align-items: center;
		text-align: center;
		justify-content: center;
		text-decoration: none;
	}
}

.active {
	position: relative;
	svg {
		fill: #68ccc4 ;
	}
	
	// &::after{
	// 	content: "";
	// 	position: absolute;
	// 	display: block;
	// 	width: 80px;
	// 	height: 4px;
	// 	top: 38px;
	// 	background-color: #68ccc4 ;
	// }
	
}

.dark{
	.navbar{

		background-color:  var(--background-color-dark) !important;
	}
	.nav_item{
		&:hover {
			background-color: rgba(238, 237, 237, 0.799);
	
		}
	}
	
	svg{
		fill : #888a8e !important;
	}
	.active{
		svg {
			fill: #73dfd6 !important;
		}
	}
}