.wrapper {
	width: 585px;

	max-height: 700px;
	// height: auto;
	background-color: white;
	border-radius: 12px;
	// overflow: hidden;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.post_header {
		position: relative;
		width: 100%;
		height: 60px;
		// background-color: red;
		padding: 12px 16px 0;
		display: flex;
		margin-bottom: 8px;
		.header_avt {
			width: 48px;
			height: 48px;
			background-color: var(--background-light-hover);
			border-radius: 50%;
		}
		.header_name {
			flex: 1;
			margin-left: 12px;
			display: flex;
			flex-direction: column;
			span {
				float: left;
			}
			.name_user-post {
				width: 300px;
				height: 28px;
				// background-color: white;
				line-height: 28px;
				font-size: 20px;
				// padding-top: 4px;
				cursor: pointer;
			}
			.time {
				width: 300px;
				height: 20px;
				line-height: 20px;
				font-size: 14px;
				display: flex;
				color: #65676b;

				.privatePost {
					display: flex;
					align-items: center;
					// margin-left: 10px;
					width: auto;
					height: 100%;
					// background-color: rgb(132, 255, 0);
				}
				.dot {
					margin: 0 4px;
					color: #65676b;
				}
			}
		}
		.header_action {
			width: 100px;
			height: 100%;

			display: flex;
			align-items: center;
			.action_control,
			.action_delete-post {
				width: 50%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				.action_icon {
					width: 44px;
					height: 44px;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow: hidden;

					&:hover {
						cursor: pointer;
						background-color: var(--background-light-hover);
					}
				}
			}
		}

		// &::before {
		// 	content: "";
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 2px;
		// 	bottom: -12px;
		// 	left: 0;
		// 	background-color: #f0f2f5;
		// }
	}

	.post_footer {
		width: 100%;
		height: 90px;
		// background-color: red;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 4px 16px;
		.footer_infor {
			height: 42%;
			width: 100%;
			position: relative;
			// background-color: aqua;
			display: flex;
			justify-content: space-between;
			.infor_reaction,
			.infor_action {
				height: 100%;
				width: 50%;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				.comment,
				.shared {
					// background-color: red;

					height: 100%;
					// width: 50%;
					display: flex;
					align-items: center;
					justify-content: flex-end;

					svg {
						fill: #f0f2f5;
					}
				}
				.shared {
					margin-left: 12px;
					
				}
				.text {
					height: 100%;
					line-height: 44px;
					display: flex;
					align-items: center;
					letter-spacing: 0.7px;

					// font-family: "Proxima Nova", sans-serif;
					&:hover {
						cursor: pointer;
						text-decoration: underline;
					}
				}
			}
			.infor_reaction {
				justify-content: flex-start;
			}
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 0.2px;
				background-color: #f0f2f5;

				bottom: 0;
			}
		}
		.footer_action {
			width: 100%;
			height: 100%;
			padding: 8px 0 4px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			background-color: var(--background-light-hover);
			top: -4px;
			left: 0;
		}
	}
}

.post_body {
	margin: 4px 0;
	width: 100%;
	// min-height: 100px;
	// background-color: red;
	display: flex;
	flex-direction: column;
	position: relative;
	.post_body-text {
		padding: 0 16px;

		width: 100%;
		position: relative;
		margin-bottom: 12px;
		// background-color: yellow;
		span {
			float: left;
			font-size: 16px;
			text-align: start;
		}
		&::before {
			content: "";
			position: absolute;
			width: calc(100%);
			height: 0.5px;
			bottom: -12px;
			left: 0px;
			background-color: #f0f2f5;
			// background-color: red;

		}
	}
	.post_body-img {
		max-width: 100%;
		width: auto;
		height: 100%;
		max-height: 400px;
		display: flex;
		object-fit: contain;
		background-color: #000000;
		img,video {
			width: 100%;
			height: 100%;
		object-fit: contain;

		}
	}
}


.modal_photo {
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.247);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 40;
	padding-bottom: 56px;
	
	.post {
		width: 100%;
		height: 100%;
		// background-color: white;
		// border-radius: 20px;
		// overflow: hidden;
	}
}

.action_post_block{
	width: 150px;
	height: 140px;
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 100%;
	// right: 40px;
	z-index: 9999;
	display: flex;
	border-radius: 12px;
	box-shadow: 1px 1px 2px black;
}