.wrapper {
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	.body {
		width: 100%;
		height: 500px;
		// width: 500px;
		position: relative;
		display: flex;
		align-items: center;
		// justify-content: center;
        flex-direction: column;
		.qoutes {
			// width: 180px;
			height: 150px;
			
			top: 10px;
			left: 70px;
			width: 940px;
			display: flex;
            justify-content: center;
			.qoute_1 {
				position: relative;
				height: 150px;
				width: 180px;
                left : -110px;
                top: 10px;
				user-select: none;
				svg {
					transform: scalex(-1);
				}
				.speech {
					position: absolute;
			
					top: 35px;
					left: 25px;
					width: 150px;
					height: 120px;
					
					user-select: none;

					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 14px;
				}
			}
            .qoute_2 {
				position: relative;
                top:15px;
                right: -110px;
				height: 150px;
				width: 180px;
		
				user-select: none;
				
				.speech {
					position: absolute;
			
					top: 35px;
					left: 25px;
					width: 150px;
					height: 120px;
					
					user-select: none;

					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;

					font-size: 14px;
				}
			}
		}
		.no_post {
			width: 120px;
			height: 200px;

			display: flex;
			overflow: hidden;
			background-color: red;
			align-items: center;
			justify-content: center;
			// position: relative;
			img {
				// position: absolute;
				height: 400px;
				width: 400px;
				border: 1px solid black;
				border-radius: 8px;
				object-fit: contain;
				display: flex;
				align-items: center;
				justify-content: center;
				top: -100px;
				left: -100px;
			}
		}
	}
}
